* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
}

.h-group {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

.h-group img {
  margin-right: auto;

  height: 70px;
}

.nav {
  display: flex;
  list-style: none;
}

.nav > li {
  margin: 0 30px;
  font-size: 16px;
  color: #fafafa;
}

.main-1 {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
  text-align: center;
}

.main-section {
  padding-top: 200px;
}

.main-section > h1 {
  font-size: 64px;
  color: #fafafa;
}

.main-section > p {
  font-size: 20px;
  color: #fafafa;
  margin-top: 10px;
}

.main-2 {
  background-color: #eceff1;
}

.main-2 > .inner {
  padding: 90px 0;
}

.main-2-1 {
  width: 920px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
}

.title-text {
  font-size: 32px;
}

.title-line {
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 30px;
}

.title-subtext {
  font-size: 16px;
  margin-bottom: 30px;
}

.img-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 920px;
}

.img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-group > .img:nth-child(3n) {
  margin-right: 0;
}

.img-group > .img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.img:nth-child(1) {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(2) {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}
.img:nth-child(3) {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(4) {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}
.img:nth-child(5) {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

.main-3 {
}

.feature {
  padding: 90px 0;
  width: 980px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

section > .main {
  margin-bottom: 30px;
}

.section-group {
  display: flex;
  justify-content: center;
}

.section-group .item {
  width: 320px;
  margin-right: 10px;
}

.section-group .item:nth-child(3) {
  margin-right: 0;
}

.section-group .item h3 {
  margin: 10px 0;
  font-size: 20px;
}

.section-group .item p {
  text-align: left;
}

.fas {
  display: inline-block;
  font-size: 60px;
}
